.container{
	position: relative;
}

.container2{
	position: absolute;
	margin: 20px;
	width: auto;
}

.topnav{
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover{
	background-color: #ddd;
	color: black;
}

.text-block{
	position: absolute;
	top: 75%;
	right: 40%;
	background: rgb(0, 0, 0); /* Fallback color */
  	background: rgba(0, 0, 0, 0.5); /* black background with 0.5 opacity */
	color: white;
}

html, body{
	margin: 0;
}